<!doctype html>
<html leng="en">
	<head>
		<meta charset="utf-8">

		<title>Welcome to Globophone!</title>
		<meta name="description" content="Save your number">
		<script src="js/angular.js"></script>
		<script src="js/angular-local-storage.js"></script>
		<script src="js/common.js"></script>
		<script src="js/main.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<section id="content">
			<h1>Welcome to Globophone!</h1>
			<section ng-app="basicPhonebook" ng-controller="mainController">
				<section ng-show="showFields">
					<h2>Save your number:</h2>
					<form name="addToPhonebook" novalidate>
						<p>
							<label>Name:</label>
							<input 
								name="entryName"
								type="text" 
								ng-model="entryName" 
								required="A name is required" 
								ng-minlength="1"
								ngTrim="true"
								ng-class="{ 'has-error' : addToPhonebook.entryName.$invalid && !addToPhonebook.entryName.$pristine }"
							/>
						</p>
						<p class="error" ng-show="addToPhonebook.entryName.$invalid && !addToPhonebook.entryName.$pristine">(any non-whitespace will do)</p>
						<p>
							<label>Phone Number:</label>
							<input 
								name="phoneNumber"
								type="tel" 
								ng-model="phoneNumber" 
								required="A valid phone number is required" 
								ng-pattern="/^[\s,\.,-]*[1-9](([\s,\.,-]*\d){9,10})[\s,\.,-]*$/"
								ngTrim="true"
								ng-class="{ 'has-error' : addToPhonebook.phoneNumber.$error.pattern }"
							/>
						</p>
						<p class="error" ng-show="addToPhonebook.phoneNumber.$error.pattern">(10 or 11 digits not beginning with 0, and any number of spaces, dashes, or dots)</p>
						<p>
							<button ng-click="deleteEntry()" ng-show="hasEntry()">Delete</button>
							<button ng-click="addEntry(addToPhonebook.$valid, entryName, phoneNumber); showFields=false;" ng-disabled="addToPhonebook.$invalid">Save</button>
						</p>
					</form>
				</section>
				<section ng-show="!showFields">
					<h2>Saved {{entryName}}</h2>
					<p><button ng-click="showFields=true">Go Back</button></p>
				</section>
			</section>
		</section>
	</body>
</html>